body {
    background-color: #eeebc0;
    color: #3B4E59;
}

header {
    background-color: #F2C879;
    letter-spacing: 1.5px;
}

h2, h3 {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    color: #F26B83;
    letter-spacing: 1.5px;
}

h3 {
    color: #f3bc58;
}

p {
    color: #3B4E59;
}

a:hover {
    color: #F26B83;
  }

p, li, td {
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: justify;
    letter-spacing: 0.5px;
}

table, th, td {
    border: 2px solid #3B4E59;
  }

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    height: 50px;    
}

td {
    height: 25px;
}

tr:hover {
    background-color: #F2C879;
}

.center_align {
    text-align: center;
}







